
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*------------  HEADER  ------------*/

header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
    padding: 8px 10px;
 
}

.flex-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header a img{
    display: inline-block;
    width: 150px;
}

nav{
    display: inline-block;
}

nav a {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-left: 30px;
    color: #2B3877;
    letter-spacing: 1px;
    opacity: 0.8;
    text-decoration: none;
    transition: all 0.2s ease;
}

nav a:hover{
    opacity: 1;
}

.active {
    color: #fff;
    padding: 10px 20px;
    background: #2A3779;
    border-radius: 20px;
}

/*------------  HEADER HAMBURGUESA  ------------*/

.hamburger{
    display: none;
	position:fixed;
    background-color: transparent;
	right:40px;
	top:10px;
	height:30px;
	width:30px;
	padding:20px 20px;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	z-index: 1002;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

.hamburger.is-active{
  background-color:none;
}

._layer{
	background:#fff;
	margin-bottom:4px;
	border-radius:2px;
	width:28px;
	height:4px;
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top{
	-webkit-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	transform:translateY(-100%);
}
.hamburger:hover .-bottom{
	-webkit-transform:translateY(100%);
	-ms-transform:translateY(100%);
	transform:translateY(100%);
	}
.hamburger.is-active .-top{
	-webkit-transform:translateY(200%) rotate(45deg) !important;
	-ms-transform:translateY(200%) rotate(45deg) !important;
	transform:translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid{
	opacity:0;
}
.hamburger.is-active .-bottom{
	-webkit-transform:translateY(-200%) rotate(135deg) !important;
	-ms-transform:translateY(-200%) rotate(135deg) !important;
	transform:translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active{
  transform: translate3d(0px, 0px, 0px);
}

.menuppal{
    background-color: rgba(255, 255, 255, 1);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}

.menuppal ul{
  margin: 100px 0;
  padding:0;
}

.menuppal ul li { 
    list-style: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
    line-height: 3em;
	height: 3em;
    color: #369;
	text-transform: none;
	font-weight: 800;
}

.menuppal ul li a{
    font-size: 1.5em;
    text-decoration:none;
    color:#369;
}

.menuppal ul li .red{
    color: #E63F31;
    font-size: 1.7em;
}

.menuppal ul li a:hover{
  text-decoration:none;
  opacity: 1;
}


/*------------  INICIO  ------------*/

.parallax-window, .parallax-window-2 {
    min-height: 100vh;
    overflow: hidden;
}

.inicio{
    padding: 60px 0;
}

.flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.prin{
    margin-top: 70px;
    margin-left: 50px;
    padding-right: 30px;
    text-align: left;
}

.p-1{
    color: #2B3877;
    font-size: 65px;
    font-weight: 800;
    line-height: 70px;
    text-align: left;
    text-transform: uppercase;
}

.text-span{
    font-size: 110px;
}

.p-2{
    color: #000;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: left;
}

.p-3{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #009B7C;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
}

.p-4{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.p-5{
    display: none;
    color: #fff;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 900;
}

.button{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #F49132;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
}

.button:hover{
    box-shadow: none;
}

.logos {
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.logos img{
    width: 200px;
    margin-right: 60px;
}



/*------------  BASES  ------------*/

.bases{
    width: 100%;
    background: #fff;
    padding: 60px 0;
}

.bases .titulo {
    /*font-family: COCOGOOSE;*/
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #E63F31;
}

.bases .texto{
    color: #000;
    padding: 10px 30px;
    font-size: 24px;
    text-align: center;
}

.bases a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.2em;
    background-color: #E63F31;
    color: #fff;
    margin-top: 30px;
    padding: 10px 40px;
    border-radius: 50px;
    text-transform: uppercase;
}



/*------------  ETAPAS  ------------*/

.etapas{
    width: 100%;
    padding: 60px 10px;
}

.etapas a:visited{
    color: #F28F32;
}

.etapas .titulo {
    /*font-family: COCOGOOSE;*/
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #2D3779;
}

.etapas .etapas-contenedor{
    margin-top: 40px;
}

.etapas .etapa-indi{
    display: inline-block;
    border-radius: 20px;
    padding: 20px 5px;
    margin: 30px 10px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,.2);
}

.etapas .etapa-indi img{
    width: 115px;
}

.etapas .titulo2{
    font-size: 1.2em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 10px;
    font-size: 0.9em;
}

.etapas .texto{
    overflow: hidden;
    height: 110px;
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    width: 250px;
}

.etapa-1{
    background-color: #E63F31;
}

.etapa-2{
    background-color: #F28F32;
}

.etapa-3{
    background-color: #009B7C;
}

.etapa-4 {
    background-color: #2D3779;
}


/*------------  PREMIOS  ------------*/

.premios{
    width: 100%;
    background:#2A3779;
}

.premios-contenedor{
    padding: 60px 0;
}

.premios .titulo {
    /*font-family: COCOGOOSE;*/
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}

.premios .titulo2{
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
}

.premios .texto{
    color: #fff;
    padding: 10px 30px;
    font-size: 24px;
    text-align: center;
}

.premios .premi{
    display: inline-block;
    margin-top: 50px;
    padding: 20px 20px;
    background-color: #009B7C;
    color: #fff;
    text-align: right;
    font-size: 2em;
    font-weight: 600;
}

.millon{
    font-weight: 800; 
    font-size: 2.2em;
}

/*------------  POSTULA  ------------*/

.postula{
    width: 100%;
    background:#fff;
    padding: 30px 250px;
}

.postular{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.postula a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    margin: 20px 0;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: #2B3877;
    transition: all 0.2s ease;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
}
.postula p{
    color: #000;
    font-size: 2em;
    font-weight: 700;
}

.text-span3{
    color: #2B3877;
}



/*------------  PANEL  ------------*/

.panel{
    background: #f2f2f2;
    width: 100%;
    padding: 60px 10px;
}

.panel a:visited{
    color: #F28F32;
}

.panel .titulo {
    /*font-family: COCOGOOSE;*/
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}

.panel .etapas-contenedor{
    margin-top: 40px;
}

.panel .etapa-indi{
    display: inline-block;
    margin: 30px 20px;
}

.panel .etapa-indi img{
    display: inline-block;
    display: inline-block;
    width: 150px;
}

.descripcion{
    display: inline-block;
    padding-left: 20px;
    text-align: left;
}

.descripcion .titulo2{
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    margin-top: 10px;
}

.panel .texto{
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    color: #000;
}

/*------------  EXPOSITORES  ------------*/

.panel2{
    width: 100%;
    padding: 60px 10px;
}

.panel2 .titulo {
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #2A3779;
}

.panel2 .etapas-contenedor{
    margin-top: 40px;
}

.panel2 .etapa-indi{
    display: inline-block;
    margin: 30px 20px;
}

.panel2 .etapa-indi img{
    display: inline-block;
    display: inline-block;
    width: 150px;
}

.panel2 .descripcion{
    display: inline-block;
    padding-left: 20px;
    text-align: left;
}

.panel2 .descripcion .titulo2{
    font-size: 1.8em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2D3779;
    margin-top: 10px;
}

.panel2 .texto{
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    color: #2D3779;
}

/*------------  REDES SOCIALES  ------------*/

.redes{
    width: 100%;
    background: #E63F31;
    padding: 30px 250px;
}

.redes .postular{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.redes a{
    display: inline-block;
    text-decoration: none;
    font-size: 3em;
    font-weight: 600;
    color: #fff;
    padding: 10px 25px;
    transition: all 0.2s ease;
}

.redes p{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
}

/*------------  FOOTER  ------------*/

.footer{
    width: 100%;
    background:#fff;
    padding: 10px 30px;
}

.flex_footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .logo_futuro{
    margin-top: 20px;
    width: 150px;
}

.footer .logos_footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .logos_footer img{
    margin-right: 20px;
}

.footer img{
    width: 120px;
}

.footer_info{
    display: block;
    color: #000;
    font-size: 0.9em;
    font-weight: 700;
}

.footer_info .creador{
    padding-top: 5px;
    font-size: 0.8em;
}






/*------------  QUERIES  ------------*/

@media(max-width: 1170px){

    .premios .premi{
        display: inline-block;
        margin-top: 50px;
        padding: 5px 15px;
        background-color: #009B7C;
        color: #fff;
        text-align: right;
        font-size: 1.5em;
        font-weight: 600;
    }

    .millon{
        font-weight: 800; 
        font-size: 2em;
    }

    .postula{
        width: 100%;
        background:#fff;
        padding: 30px 100px;
    }
    
}


@media(max-width: 1092px){
    /*------------  REDES SOCIALES  ------------*/

    .redes{
        width: 100%;
        background:#E63F31;
        padding: 30px 50px;
    }

    .redes a{
        display: inline-block;
        text-decoration: none;
        font-size: 3em;
        font-weight: 600;
        color: #fff;
        padding: 10px 25px;
        transition: all 0.2s ease;
    }

    .redes p{
        color: #fff;
        font-size: 2em;
        font-weight: 700;
    }
}


@media(max-width: 815px){
    
    .hamburger{
        display: block;
    }

    .nav_1{
        display: none;
    }

    ._layer{
        background: #000;
    }

    .flex{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .prin{
        margin-left: 50px;
        padding-right: 30px;
        text-align: center;
    }
    
    .p-1{
        color: #2D3779;
        font-size: 55px;
        font-weight: 800;
        line-height: 70px;
        text-align: center;
        text-transform: uppercase;
    }
    
    .text-span{
        font-size: 100px;
    }
    
    .p-2{
        color: #000;
        font-size: 22px;
        line-height: 25px;
        font-weight: 600;
        text-align: center;
    }
    
    .p-3{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 15px;
        background-color: #009B7C;
        color: #fff;
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }
    
    .p-4{
        color: #000;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    
    .p-5{
        display: none;
        color: #fff;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 900;
    }
    
    .button{
        display: inline-block;
        text-decoration: none;
        font-size: 1.7em;
        font-weight: 600;
        color: #fff;
        margin-top: 60px;
        padding: 12px 100px;
        border-radius: 50px;
        background-color: #F49132;
        transition: all 0.2s ease;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    }
    
    .logos {
        margin-top: 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    
    .logos img{
        margin-top: 80px;
        width: 220px;
        margin-left: 40px;
    }
    
    

    .premios .premi{
        display: inline-block;
        margin-top: 50px;
        padding: 5px 15px;
        background-color: #009B7C;
        color: #fff;
        text-align: right;
        font-size: 1.5em;
        font-weight: 600;
    }

    .millon{
        font-weight: 800; 
        font-size: 1.6em;
    }

    .premios .titulo2{
        font-size: 1.9em;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }

    .postula{
        width: 100%;
        background:#fff;
        padding: 30px 50px;
    }

    .postula a{
        font-size: 0.9em;   
    }

    .postula p{
        color: #000;
        font-size: 1.5em;
        font-weight: 700;
    } 

    /*------------  FOOTER  ------------*/


    .flex_footer{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .footer .logo_futuro{
        margin: 20px 0;
        width: 150px;
    }

    .footer .logos_footer{
        margin: 20px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .footer .logos_footer img{
        margin-right: 20px;
    }

    .footer_info{
        margin: 20px 0;
        display: block;
        color: #000;
        font-size: 0.9em;
        font-weight: 700;
    }

    .footer_info span{
        color: #2A3779;
    }

}


@media(max-width: 720px){

    .premios .premi{
        display: none;
    }

    .premios .titulo2{
        font-size: 1.4em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
    }

    /*------------  REDES SOCIALES  ------------*/

    .redes{
        width: 100%;
        background:#E63F31;
        padding: 30px 50px;
    }

    .redes .postular{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .redes a{
        margin-top: 20px;
        display: inline-block;
        text-decoration: none;
        font-size: 2.5em;
        color: #fff;
        transition: all 0.2s ease;
    }

    .redes p{
        color: #fff;
        font-size: 2em;
        font-weight: 700;
    }
    
}

@media(max-width: 670px){

    .flex{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .prin{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .p-1{
        padding-right: 15px;
        color: #2D3779;
        font-size: 30px;
        font-weight: 800;
        line-height: 50px;
        text-transform: uppercase;
    }
    
    .text-span{
        font-size: 60px;
    }
    
    .p-2{
        color: #000;
        font-size: 16px;
        line-height: 25px;
        font-weight: 600;
        text-align: center;
    }
    
    .p-3{
        display: inline-block;
        margin-top: 30px;
        padding: 5px 15px;
        background-color: #009B7C;
        color: #fff;
        font-size: 20px;
        font-weight: 800;
        text-align: center;
    }
    
    .p-4{
        color: #000;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }
    
    .p-5{
        display: none;
        color: #fff;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 900;
    }
    
    .button{
        display: inline-block;
        text-decoration: none;
        font-size: 1.7em;
        font-weight: 600;
        color: #fff;
        margin-top: 20px;
        padding: 8px 45px;
        border-radius: 50px;
        background-color: #F49132;
        transition: all 0.2s ease;
        box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    }
    
    .logos {
        margin-top: 40px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    
    .logos img{
        margin-top: 20px;
        width: 220px;
    }

}

@media(max-width: 490px){

    .descripcion{
        display: inline-block;
        padding-left: 20px;
        text-align: center;
    }

    .panel2 .descripcion{
        text-align: center;
    }

    .redes a{
        padding: 10px 15px;
    }

    /*------------  FOOTER  ------------*/

    .footer .logo_futuro{
        margin: 20px 0;
        width: 150px;
    }

    .footer .logos_footer{
        margin: 20px 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .footer .logos_footer img{
        margin: 20px 0;
    }

    .footer_info{
        margin: 20px 0;
        display: block;
        color: #000;
        font-size: 0.9em;
        font-weight: 700;
    }

    .footer_info span{
        color: #2A3779;
    }
}


